
.venv
env/

### Python ###
__pycache__/
*.py[cod]
*$py.class

comite_front/node_modules
comite_front/package-lock.json
comite_front/yarn.lock.json

# misc
comite_front/.DS_Store
comite_front/.env
comite_front/.env.local
comite_front/.env.development.local
comite_front/.env.test.local
comite_front/.env.production.local